.dashboard-filters {
  padding: 5px;
  margin: 0 -5px;

  &__item {
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;

    &:hover {
      cursor: pointer;
    }

    &--active {
      // background-color: 
    }
  }
}