<div
  class="navbar">
  <div style="display: flex">
    <img class="navbar__avatar"
      [src]="project.image || defaultImage">
    <div class="navbar__header">
      <div [routerLink]="['/projects', project._id]" class="navbar__title">{{project.title}}</div>
      <div class="navbar__items">
        <div routerLink="/projects"
          class="navbar__item">
          <i class="fa fa-columns" aria-hidden="true"></i>
          <span>Projects</span>
        </div>
      </div>
    </div>
  </div>
  <button
  (click)="logout()"
    class="slds-button slds-button_neutral">Logout</button>
</div>