.login {
  background-color: #EEE;
  height: 100%;

  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #e5e2e2;
    padding: 16px;
    border-radius: 7px;
  }

  &__input {
    margin: 16px 0;
    border: 1px solid #e6e8e9;
    height: 30px;
    padding: 8px;
  }

  &__button {
    margin-bottom: 10px;
  }
}
