<div class="login">
    <form #f="ngForm"
      class="login__form"
      name="form"
      (ngSubmit)="f.form.valid && login()">
      <input type="text"
        placeholder="Email"
        class="login__input"
        name="username"
        [(ngModel)]="user.name">
      <input type="password"
        placeholder="password"
        class="login__input"
        name="password"
        [(ngModel)]="user.password">
      <button
        class="slds-button slds-button_neutral login__button">
        Войти
      </button>
      <div *ngIf="error" class="">{{error}}</div>
    </form>
  </div>
  