$projects-border: 1px solid #dcdcdc;

.projects {
  padding: 15px;
  margin-top: 108px;

  &__header {
    font-weight: bold;
    padding: 10px 0;
    border-bottom: $projects-border;
  }

  .project {
    &__item {
      padding: 10px 0;
      border-bottom: $projects-border;
      transition: background-color 0.3s ease-in;

      &:hover {
        background-color: #f5f4f4;
        cursor: pointer;
      }
    }

    &__image {
      width: 50px;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
  }

  .new-project {
    color: #a7a5a5;
    padding: 10px;
    font-size: 16px;
    display: inline-block;

    &:hover {
      cursor: pointer;
      color: darken(#a7a5a5, 5%)
    }

    .fa {
      margin-right: 5px;
    }
  }
}