<div class="user">
  <div class="user__header">Summary</div>
  <div class="slds-grid slds-wrap">
    <div class="slds-size_12-of-12 user__sub-header">Details</div>
    <div class="slds-size_2-of-12">
      <img
        class="user__avatar"
        src='assets/projectavatar.svg'>
    </div>
    <div class="slds-size_10-of-12 user__name">
      @{{user.login}}
    </div>
    <div class="slds-size_2-of-12 user__info">
      Username:
    </div>
    <span class="slds-size_10-of-12">{{user.login}}</span>
    <div class="slds-size_2-of-12 user__info">
      Full name:
    </div>
    <span class="slds-size_10-of-12">{{user.firstName}} {{user.lastName}}</span>
    <div class="slds-size_2-of-12 user__info">
      Administration:
    </div>
    <span class="slds-size_10-of-12">Administartor User</span>
    <div class="slds-size_2-of-12 user__info">
      Project role:
    </div>
    <span class="slds-size_10-of-12">{{user.title}}</span>
    <div class="slds-size_2-of-12 user__info">
      Projects:
    </div>
    <a
      [routerLink]="['/projects/', '5a196546925b4f382837423a']"
      class="slds-size_10-of-12">
      Test Poroject
    </a>
  </div>
</div>