.dashboard {
  padding: 15px;
  margin-top: 108px;

  &__type {
    margin: 0 5px;
    max-width: calc(30% - 70px);
  }

  &__item {
    // background-color: #fff;
  }

  &__title {
    // border-bottom: 1px solid #c3c1c1;
    padding: 10px 0;
    font-size: 17px;
  }

  &__info {
    padding: 10px 0;
    background-color: #fafbfc;
    // margin: 10px 0;
    height: calc(100% - 45px);
  }

  &__new-item {
    background-color: #d4d4d4;
    text-align: center;
    color: #3b84dc;
    margin: 15px 0;
    padding: 6px;
    transition: background-color 190ms ease-out;

    &:hover {
      cursor: pointer;
      background-color: #E8E5E2;
    }
  }

  &__author-icon {
    margin-right: 10px;
  }
}