<div class="dashboard slds-grid">
  <div class="slds-col dashboard__type">
    <div class="dashboard__title">to-do</div>
    <div class="dashboard__new-item">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="dashboard__info">
      <div class="dashboard__total">
        <div>{{project.events[0].title}}</div>
      </div>
      <div class="dashboard__author">
        <i class="fa fa-user dashboard__author-icon" aria-hidden="true"></i>
        {{project.events[0].author}}
      </div>
    </div>
  </div>
  <div class="slds-col dashboard__type">
    <div class="dashboard__title">to-do</div>
  </div>
  <div class="slds-col dashboard__type">
    <div class="dashboard__title">to-do</div>
  </div>
  <div class="slds-col dashboard__type">
    <div class="dashboard__title">to-do</div>
  </div>
</div>