<div class="task">
  <div class="task__actions">
      <button class="slds-button slds-button_neutral project__button edit-button">Edit</button>
      <button class="slds-button slds-button_neutral project__button"
        (click)="changeStatus('2')"
        *ngIf="task.status === '1'">
        Begin Work</button>
      <button class="slds-button slds-button_neutral project__button"
        (click)="changeStatus('3')"
        *ngIf="task.status === '2'">
        Resolve</button>
      <button class="slds-button slds-button_neutral project__button"
        (click)="changeStatus('4')"
        *ngIf="task.status === '3'">
        Test Completed</button>
      <button class="slds-button slds-button_neutral project__button"
        (click)="changeStatus('1')"
        *ngIf="task.status === '4'">
        Re-open</button>
        <button class="slds-button slds-button_neutral project__button">Close</button>
      </div>
      <div class="slds-grid slds-wrap">
        <div class=" slds-size_8-of-12">
          <div class="task__sub-title">
            <span>Details</span>
          </div>
          <div class="task__info">Type: {{taskTypes[task.type]}}</div>
          <div class="task__info">Iteration: 1</div>
          <div class="task__sub-title">
            <span>Description</span>
          </div>
          <div class="task__info">{{task.description}}</div>
          <div></div>
          <div class="task__comments">
            <div class="task__sub-title">
              <span>Comments</span>
            </div>
            <div class="task__comment">
              <div class="task__comment-user">
                <img src='assets/projectavatar.svg'>
                <span>Natallia Lukyaniuk</span>
              </div>
              <div class="task__comment-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                  has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book.
              </div>
            </div>
            <div class="task__comment">
              <div class="task__comment-user">
                <img src='assets/projectavatar.svg'>
                <span>Natallia Lukyaniuk</span>
              </div>
              <div class="task__comment-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                  has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book.
              </div>
            </div>
            <textarea class="task__comment-field"></textarea>
            <button type="button" class="task__button slds-button slds-button_neutral">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              Comment
            </button>
          </div>
        </div>
        <div class="slds-size_4-of-12">
          <div class="task__sub-title">
          <span>People</span>
        </div>
        <div class="task__info">Assignee: {{task.user.firstName}} {{task.user.lastName}}</div>
        <div class="task__sub-title">
          <span>Dates</span>
        </div>
        <div class="task__info">Created: 
          22/Nov/2017
          <!-- {{task.startDate}} -->
        </div>
        <div class="task__info">Deadline: 
          14/Dec/2017
          <!-- {{task.endDate}} -->
        </div>
    </div>
  </div>
</div>